body {
    background-color: darkslateblue;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.h3 {
    
}